In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
gp = pd.read_csv("./googleplaystore.csv")
gp.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [3]:
# dropping columns
gp = gp.drop(['Category','Last Updated','Current Ver'],axis=1)

In [4]:
# filling all the Nan values with the mean of that column values
gp = gp.fillna(gp.mean())

In [20]:
gp.isna().sum()

App               0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    0
Genres            0
Android Ver       2
dtype: int64

In [31]:
# these rows with null values still exist since mean of their column cannot be applied to the text data.

gp1 = gp[gp.isnull().any(axis=1)]
gp1

,App,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
4453,[substratum] Vacuum: P,4.400000,230,11M,"1,000+",Paid,$1.49,Everyone,Personalization,NaN
4490,Pi Dark [substratum],4.500000,189,2.1M,"10,000+",Free,0,Everyone,Personalization,NaN
9148,Command & Conquer: Rivals,4.193338,0,Varies with device,0,NaN,0,Everyone 10+,Strategy,Varies with device

In [5]:
gp.loc[gp['Installs']=='Free']

,App,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",NaN

In [6]:
# the above row is deleted since installs has a value free which is insensible

gp = gp.drop([10472],axis=0)

In [7]:
# removing , and + from Installs column
install =[]
for i in gp['Installs']:
    j = i.replace("+","")
    h = j.replace(",","")
    install.append(h)
install = pd.DataFrame(install,columns=['install'])

In [8]:
# from sklearn.preprocessing import MultiLabelBinarizer
# mlb = MultiLabelBinarizer()

In [9]:
# install1 = np.array(install)
# install2 = mlb.fit_transform(install1)

In [10]:
# mlb.classes_

In [11]:
# len(mlb.classes_)

In [12]:
# install2 = pd.DataFrame(install2)

In [13]:
# from sklearn.decomposition import PCA

In [14]:
# pca = PCA(n_components =1)
# install2 = pca.fit_transform(install2)

In [15]:
# install2 = pd.DataFrame(install2,columns=['install'])

In [16]:
install.head()

    install
0     10000
1    500000
2   5000000
3  50000000
4    100000

In [17]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [18]:
# since there was a warning i used ravel
install = np.ravel(install)
install1 = le.fit_transform(install)

In [19]:
install1 = pd.DataFrame(install1,columns=['install'])
install1.head()

   install
0        5
1       16
2       17
3       18
4        6